body{
    background-image: url(gif-main-720.gif);
}

#canvas{
    display: block;
}

#title-card{
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    box-shadow: 0px 0px 18px;
}