body{
    background-image: url(gif-main-720.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-color: #404040;
}

header{
    height: 5vh;
}

nav{
    background-color: #3c3c3c;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: #ebebeb;
    text-align: center;
    padding: 1vh 1vw ;
    text-decoration: none;
}

a:hover {
    color: #8c8c8c;
    background-color: #ebebeb;
}
  
a:active {
    color: #1e1e1e;
}

#intro-card{
    background-color: rgb(40, 40, 40, 0.8);
    color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}